

@keyframes fade_in {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

#page {

    background-color: #29052A;
    color: #FADAFB;
    width: 90%;
    margin: 0px auto 0px auto;
    padding: 0px 0px 20px 0px;

}

body {background-color: #29052A;}

#main_content {
    clear: both;
    margin: 0px;
    padding: 0px;

  }

/*Main Text*/
#main_content p, li, a  {
    text-decoration: none;
    font: normal 15px/23px Source Sans, sans-serif;
    color: #FADAFB;
}


a:hover {

    color: #4E17C4;
}

img.home_image {
    width: 100%;
    animation-name: fade_in;
    animation-duration: 2.5s;

}

/*Main Title*/
h1 {
    font: bold 25px/25px Lucida Sans, sans-serif;
    color: #C41754;
}

/*Page Title*/
#main_content h2 {
    font: bold 30px/30px Gill Sans, sans-serif;
    margin: 20px 0px 15px 0px;
    padding: 10px 0px 5px 0px;
    color: #4E17C4;
}

/*Sub-Headers*/
#main_content h3 {
    font: normal 25px/25px Gill Sans, sans-serif;
    color: #C41754;
    margin: 10px 0px 0px 0px;
    padding: 10px 0px 0px 0px;
}


/*Image Gallery Blocks*/
  img.image_gallery {

    
    width: 100%;

  }
  div.image_gallery {

    padding: 0% 2.5% 2% 0%;
    width: 30%;
    animation-name: fade_in;
    animation-duration: 2.5s;
  }

a.image_subtitles {
    color: #FADAFB;
}

.image_flex {

    display: flex;
    flex-wrap: wrap;
}

/*Navigation Menu*/
nav a{

    padding: 15px;
    margin: 5px 10px 5px 0px;
    display: block;
    float: left;
    font: bold 18px/25px Lucida Sans, sans-serif; 
    text-decoration: none;
    color: #29052A;
    background-color: #C117C4;
    border-radius: 15px;
    width: 28%;
    text-align: center;
}

/*Sources*/
#sources {
    background-color: #C117C4;
    margin: 0px;
    padding: 10px 0px 20px 0px;
}

.source_text {

    width: 90%;
    margin: 0px auto 0px auto;

}

div.source_text h2 {
    font: bold 30px/30px Gill Sans, sans-serif;
    margin: 10px 0px 0px 0px;
    padding: 10px 0px 5px 0px;

}

div.source_text h3 {
    font: normal 25px/25px Gill Sans, sans-serif;
    color: #29052A;
    margin: 10px 0px 0px 0px;

}

div.source_text li {

    text-decoration: none;
    color: #29052A;
    font: normal 15px/23px Source Sans, sans-serif;
}

a.source_links:hover, a.image_subtitles:hover {

    color: #4E17C4;
}

@media only screen and (max-width: 910px) {

    nav a {
        clear: both;
        width: 100% ;
    }

    .image_flex {
        display: flex;
        flex-direction: column;
    }

    img.image_gallery {

        width: 100%;
        padding: 0%;
    }

    div.image_gallery {

        width: 100%;

    }


}

/* black-purple: #29052A
   white-purple: #FADAFB
   purple: #C117C4
   blue: #4E17C4
   red: #C41754
*/
